<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>안녕하세요! 반갑습니다!!</h1>
    <h1>hello world22</h1>
    <p>전달받은 데이터는 <span th:text="${name}"></span>님 입니다.</p>
<!--    <p>한 단계 더 들어간 내용은 <span th:text="${name}"></span> 님 입니다.</p>-->
</body>
</html>